<div class="registro-container">
  <h2>Formulario de Registro</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required placeholder="Introduce tu nombre">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" [(ngModel)]="usuario.apellido" name="apellido" required placeholder="Introduce tu apellido">
    </div>
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" [(ngModel)]="usuario.email" name="email" required placeholder="Introduce tu correo electrónico">
    </div>
    
    <div class="form-group">
      <label for="contrasenia">Contraseña:</label>
      <input 
        type="password" 
        id="contrasenia" 
        [(ngModel)]="usuario.contrasenia" 
        name="contrasenia" 
        required 
        placeholder="Crea una contraseña"
        (input)="validarContrasenia()" >
      
      <div *ngIf="usuario.contrasenia && passwordErrors.length > 0" class="error-container">
        <p class="error-header">La contraseña no es segura. Requisitos:</p>
        <ul>
          <li *ngFor="let error of passwordErrors">{{ error }}</li> </ul>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value="Registrarse">
    </div>
  </form>
</div>