<div class="home-container">
  <header class="header">
    <!-- Imagen de fondo de la cabecera -->
    <div class="header-content">
      <h1>Panadería El Pastelito</h1>
      <p>El sabor de lo hecho en casa, panes y pasteles recién horneados con cariño.</p>
      <a href="#productos" class="btn-main">Ver nuestros productos</a>
    </div>
  </header>

  <section id="productos" class="product-categories">
    <!-- Categoría de Panes Artesanales -->
    <div class="category category-panes">
      <img src="https://thumbs.dreamstime.com/b/delicioso-surtido-de-pan-reci%C3%A9n-horneado-en-un-fondo-r%C3%BAstico-oscuro-200072569.jpg" alt="Panes Artesanales" class="category-image">
      <div class="category-info">
        <h2>Panes Artesanales</h2>
        <p>Desde baguettes hasta panes integrales, todo hecho con los mejores ingredientes.</p>
        <a routerLink="/pan" class="btn-primary">Ver más</a>
      </div>
    </div>

    <!-- Categoría de El Pastelito -->
    <div class="category category-pastelito">
      <img src="https://png.pngtree.com/thumb_back/fh260/background/20230527/pngtree-large-group-of-different-desserts-on-a-black-background-image_2677193.jpg" alt="El Pastelito" class="category-image">
      <div class="category-info">
        <h2>Pasteleria</h2>
        <p>Pasteles, tartas y galletas recién horneadas para todo tipo de celebraciones.</p>
        <a routerLink="/pasteleria" class="btn-primary">Ver más</a>
      </div>
    </div>
  </section>
</div>
