/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #5D4037;
    color: white;
    text-align: center;
    padding: 2em 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin-top: 2em;
    font-size: 1.8em;
    color: #5D4037;
}

/* Estilo de los productos */
.product {
    display: inline-block;
    width: 23%;
    margin: 1%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    vertical-align: top;
    text-align: center;
}

/* Asegura que los enlaces dentro de los productos no tengan subrayado */
.product a {
    text-decoration: none;  /* Elimina el subrayado */
    color: inherit;         /* Hereda el color del texto */
}

/* Estilo de las imágenes de los productos */
.product img {
    width: 100%;          /* Ancho completo */
    height: 200px;        /* Altura fija para todas las imágenes */
    object-fit: cover;    /* Mantiene la proporción y recorta la imagen si es necesario */
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Estilo del título de los productos */
.product h3 {
    color: #5D4037;
    margin-bottom: 10px;
}

/* Estilo de la descripción de los productos */
.product p {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}

