<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 Panadería El Pastelito. Todos los derechos reservados.</p>
    <ul class="footer-links">
      <li><a href="https://panaderia-deliciosa.com/terminos">Términos y Condiciones</a></li>
      <li><a href="https://panaderia-deliciosa.com/privacidad">Política de Privacidad</a></li>
      <li><a href="https://panaderia-deliciosa.com/contacto">Contáctanos</a></li>
    </ul>
  </div>
  <div class="footer-social">
    <a href="https://www.facebook.com/panaderiaelpastelito" target="_blank" class="social-icon facebook">Facebook</a>
    <a href="https://www.instagram.com/panaderiaelpastelito" target="_blank" class="social-icon instagram">Instagram</a>
    <a href="https://twitter.com/panaderiaelpastelito" target="_blank" class="social-icon twitter">Twitter</a>
  </div>
</footer>
