/* ESTILO GENERAL PARA EL NAV */
nav.lineaNavegacion {
    background-color: #333; 
    color: white; 
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ESTILO DEL LOGO DENTRO DE LA BARRA DE NAVEGACIÓN */
nav .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

/* ESTILO DE LA LISTA NO ORDENADA QUE CONTIENE LOS ENLACES PRINCIPALES */
nav .links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* ESTILO DE CADA ITEM DE LA LISTA DE ENLACES  */
nav .links li {
    position: relative;
    margin-right: 20px;
}

/* ESTILO DE LOS ENLACES INDIVIDUALES CON LA ETIQUETA A */
nav .links a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}

/* EFECTO HOVER DE LOS ENLACES */
nav .links a:hover {
    background-color: #555; 
}

/* ESTILOS PARA EL SUBMENÚ */
nav .links ul {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
    min-width: 200px;
    margin: 0;
    padding: 0;
    z-index: 10;
}

/* MUESTRA EL SUBMENÚ CUANDO EL RATÓN ESTÁ SOBRE EL ITEM DE LISTA */
nav .links li:hover > ul {
    display: block; 
}

/* ESTILO DE LOS ENLACES DENTRO DEL SUBMENÚ */
nav .links ul li a {
    padding: 10px;
    font-size: 14px;
}

/*EFECTO HOVER DE LOS ENLACES DENTRO DEL SUBMENÚ */
nav .links ul li a:hover {
    background-color: #555;
}

/*  ESTILO PARA LA LÍNEA QUE SEPARA LOS ITEMS DE NAVEGACIÓN */
nav .lineaNavegacion {
    border-bottom: 2px solid #444;
}
