<nav class="lineaNavegacion">
    <div class="logo">
        <img src="" alt="">
        <a routerLink="">Pastelito</a>
    </div>
    <ul class="links">
        <li><a routerLink="pan">Pan</a>
            <ul>
                <li><a routerLink="integral">Integral</a></li>
                <li><a routerLink="blanco">Blanco</a></li>
                <li><a routerLink="lenia">Leña</a></li>
                <li><a routerLink="pueblo">Pueblo</a></li>
            </ul>
        </li>
        <li><a routerLink="pasteleria">Pasteleria</a>
            <ul>
                <li><a routerLink="bizcocho">Bizcocho</a></li>
                <li><a routerLink="galletas">Galletas</a></li>
                <li><a routerLink="croissant">Croissant</a></li>
                <li><a routerLink="magdalenas">Magdalenas</a></li>
            </ul>
        </li>
        <li><a routerLink="inicio-sesion">Iniciar Sesión</a></li>
        <li><a routerLink="registrarse">Registrarse</a></li>
    </ul>
</nav>